body {
    font-family: Oxygen;
    font-size: 13px;
}

h1 {
    font-size:24px;
    font-family: Milonga;
}

h2 {
    font-size:30px;
    font-family: Milonga;
}

h3 {
    font-size:40px;
    font-family: Milonga;
}

code {
    font: 12px Oxygen Mono;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

header {
    width: 100%;
    padding: 5px;
    text-align: center;
}

#nav {
    width: 100%;
    height: 35px;
    padding: 5px;
    text-align: center;
}

#left {
    width: 500px;
    padding: 10px;
}

#right {
    float: right;
    width: 450px;
    padding: 10px;
    text-align: left;
}